/* A color variable */
$text-color: #3D3D3D;
$bckgrnd-color: #6D6D6D;

body {
	color: $text-color;
	background-color: $bckgrnd-color;
}

p {
        color: $text-color;
}

h2 {
        background-color: $bckgrnd-color;
}
